[submodule "plantngo_backend"]
	path = plantngo_backend
	url = git@github.com:plantngo/plantngo_backend
[submodule "plantngo_mobile"]
	path = plantngo_mobile
	url = git@github.com:plantngo/plantngo_mobile
